/*! _toggle.scss | Bold | Css ninja 2020-2021 */

/*
    1. Form Switch
    2. Ninja Toggle
*/

/* ==========================================================================
1. Form Switch
========================================================================== */

.f-switch {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &.is-primary {
        input {
            &:checked + i {
                background-color: $primary;
            }
        }
    }

    &.is-accent {
        input {
            &:checked + i {
                background-color: $accent;
            }
        }
    }

    &.is-success {
        input {
            &:checked + i {
                background-color: $success;
            }
        }
    }

    &.is-info {
        input {
            &:checked + i {
                background-color: $info;
            }
        }
    }

    &.is-warning {
        input {
            &:checked + i {
                background-color: $warning;
            }
        }
    }

    &.is-danger {
        input {
            &:checked + i {
                background-color: $danger;
            }
        }
    }

    i {
        position: relative;
        display: inline-block;
        margin-right: .5rem;
        width: 46px;
        height: 26px;
        background-color: #e6e6e6;
        border-radius: 23px;
        vertical-align: text-bottom;
        transition: all 0.3s linear;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            width: 42px;
            height: 22px;
            background-color: $white;
            border-radius: 11px;
            transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
            transition: all 0.25s linear;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 22px;
            height: 22px;
            background-color: $white;
            border-radius: 11px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
            transform: translate3d(2px, 2px, 0);
            transition: all 0.2s ease-in-out;
        }
    }

    &:active {
        i::after {
            width: 28px;
            transform: translate3d(2px, 2px, 0);
        }

        input {
            &:checked + i::after {
                transform: translate3d(16px, 2px, 0);
            }
        }
    }

    input {
        position: absolute;
        opacity: 0;
        pointer-events: none;

        &:checked + i {
            background-color: $green;

            &::before {
                transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
            }

            &::after {
                transform: translate3d(22px, 2px, 0);
            }
        }
    }

    small {
        color: $muted-grey;
        position: relative;
        top: -4px;
    }
}


/* ==========================================================================
2. Ninja Toggle
========================================================================== */

.ninja-toggle {
    position: relative;

    input {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;

        &:checked {
            + label {
                span {
                    &.track {
                        .track-knob {
                            margin-left: 22px;
                            transform: rotate(360deg);
                            background: $primary;
                            border-color: $primary;
                            box-shadow: $primary-box-shadow;

                            i {
                                opacity: 1;
                            }

                            svg {
                                &.sun {
                                    display: none;
                                    stroke-width: $dark-text;
                                }

                                &.moon {
                                    display: block;
                                    stroke: $light-white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    label {
        display: block;
        cursor: pointer;

        span {
            display: block;

            &.track {
                position: relative;

                .track-inner {
                    height: 11px;
                    width: 42px;
                    background: $placeholder;
                    border-radius: 100px;
                }

                .track-knob {
                    position: absolute;
                    top: -8px;
                    left: -2px;
                    height: 26px;
                    width: 26px;
                    border-radius: 50%;
                    border: 1px solid darken($fade-grey, 3%);
                    box-shadow: $light-box-shadow;
                    background: $white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: rotate(0);
                    transition: all .3s;

                    i {
                        color: $white;
                        opacity: 0;
                        transition: all .3s;
                    }

                    svg {
                        height: 14px;
                        width: 14px;
                        stroke-width: 1.6px;
                        stroke: $dark-text;

                        &.sun {
                            display: block;
                        }

                        &.moon {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
