<footer class="footer">

    <img class="map" src="/img/illustrations/map.svg" alt="">

    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <div class="footer-logo">
                    <img src="/img/logo/logo-light.svg" width="112" height="28" alt="">
                    <span>Shifter</span>
                </div>
                <p class="footer-logo-text is-portrait-padded">
                    Lorem ipsum sit dolor amet is a dummy text used by typographers and web designers that can come very handy to fill in the blanks.
                </p>
                <div class="socials">
                    <a class="social">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="social">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="social">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a class="social">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
            <div class="column">
                <h4 class="title is-light is-5">Sellers</h4>
                <ul class="footer-menu">
                    <li><a href="#" class="footer-link">Sign Up</a></li>
                    <li><a href="#" class="footer-link">Register a store</a></li>
                    <li><a href="#" class="footer-link">Get started</a></li>
                    <li><a href="#" class="footer-link">Support</a></li>
                </ul>
            </div>
            <div class="column">
                <h4 class="title is-light is-5">Buyers</h4>
                <ul class="footer-menu">
                    <li><a href="#" class="footer-link">Sign Up</a></li>
                    <li><a href="#" class="footer-link">Buying on Shade</a></li>
                    <li><a href="#" class="footer-link">FAQ</a></li>
                    <li><a href="#" class="footer-link">Support</a></li>
                </ul>
            </div>
            <div class="column">
                <h4 class="title is-light is-5">Find Us</h4>
                <ul class="footer-menu">
                    <li>154 Church Street, Upper Manhattan</li>
                    <li>(+1) 555-555-4561</li>
                    <li>hello@cssninja.io</li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <a href="https://cssninja.io" target="_blank"><img class="copyright-logo" src="/img/logo/cssninja.svg" alt=""></a>
            <div class="copyright-text">&copy;2019-2020 | Css Ninja | All Rights Reserved.</div>
        </div>
    </div>
</footer>