/* ==========================================================================
Stacked features
========================================================================== */

.stacked-features {
    .stacked-feature {
        margin-bottom: 0;

        h3 {
            margin-bottom: 12px;
        }

        p {
            font-family: $font;
            font-size: 1rem;
            color: lighten($dark-text, 15%);
        }
    }
}

/* ==========================================================================
Old Way / New Way
========================================================================== */

.method-wrapper {
    padding-bottom: 80px;

    img {
        display: block;
        margin: 0 auto;
        max-width: 450px;
    }

    h3 {
        margin-bottom: 12px !important;
    }

    p {
        font-family: $font;
        font-size: 1rem;
        color: lighten($dark-text, 15%);
    }
}

/* ==========================================================================
Benefits
========================================================================== */

.benefits-wrap {
    width: 100%;
    max-width: 960px;
    margin: 40px auto;

    .inner-wrap {
        display: flex;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: $light-box-shadow;

        .benefit {
            width: 33.3%;
            min-height: 420px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 30px;

            &:first-child, &:nth-child(3) {
                background: #9fabf7;
            }

            &:nth-child(2) {
                background: #865aff;
            }

            .benefit-inner {
                img {
                    display: block;
                    max-width: 44px;
                    width: 100%;
                    margin: 0 auto 20px auto;
                }

                .separator {
                    height: 3px;
                    width: 50px;
                    margin: 0 auto 30px auto;
                    background: $smoke-white;
                }

                p {
                    color: $white;
                    font-size: .9rem;
                    font-family: $font;
                    max-width: 320px;
                    margin: 0 auto;
                }
            }
        }
    }
}

/* ==========================================================================
Partners
========================================================================== */

.side-title {
    position: relative;

    .title-number {
        position: absolute;
        top: -70px;
        left: 0;
        font-size: 7rem;
        font-family: 'Nexa Bold', sans-serif;
        font-weight: 700;
        color: $dark-text;
        opacity: .1;
    }
}

.side-paragraph {
    color: $muted-grey;
    font-size: 1.3rem;
    max-width: 450px;

    &.is-small {
        font-size: 1rem;
    }

    &.has-margin {
        margin-top: 20px;
    }
}

.partner-logos {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        display: block;
        height: 80px;
        margin: 0 25px;
    }
}

/* ==========================================================================
Testimonials carousel
========================================================================== */

.carousel-wrapper {
    position: relative;
    max-width: 760px;
    margin: 90px auto;

    .carousel-controls {
        position: absolute;
        top: -35px;
        right: 46px;

        button {
            outline: none;

            i {
                font-size: 1.2rem;
            }
        }
    }

    .carousel {
        .slick-slide {
            outline: none !important;
        }

        .carousel-item {
            width: 100%;
            border: 1px solid $fade-grey;
            box-shadow: $light-box-shadow;
            border-radius: 8px;
            background: $white;
            padding: 60px;
            margin: 20px;

            p {
                color: $muted-grey;
            }

            .item-footer {
                display: flex;
                align-items: center;
                margin-top: 20px;

                img {
                    display: block;
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                }

                .meta {
                    margin-left: 12px;

                    span {
                        display: block;
                        line-height: 1.1;

                        &:first-child {
                            font-size: 1.1rem;
                            font-weight: 600;
                            font-family: $font;
                            color: $dark-text;
                        }

                        &:nth-child(2) {
                            font-size: .95rem;
                            color: $muted-grey;
                        }
                    }
                }
            }
        }
    }
}

/* ==========================================================================
Contact Form
========================================================================== */

.contact-title {
    margin-top: 200px;
}

.contact-form {
    width: 100%;
    border: 1px solid $fade-grey;
    box-shadow: $light-box-shadow;
    border-radius: 8px;
    background: $white;
    padding: 70px;

    p {
        color: $muted-grey;
        font-size: .9rem;
        margin-bottom: 40px;
    }

    .field-wrap {
        display: flex;
        justify-content: space-between;

        .field {
            width: 48%;
        }
    }

    .button-wrap {
        margin-top: 30px;
        text-transform: uppercase;
        font-weight: 600;
        font-family: 'Nexa Bold', sans-serif;

        .button {
            height: 54px;
        }
    }
}

/* ==========================================================================
Stat boxes with counters
========================================================================== */

.stat-boxes-wrapper {
    padding: 40px 0 80px 0;

    .stat-box {
        width: 100%;
        text-align: center;

        .stat-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 110px;
            width: 110px;
            background: $white;
            border: 1px solid darken($fade-grey, 3%);
            border-radius: 50%;
            box-shadow: $light-box-shadow;
            margin: 0 auto 16px auto;

            img {
                display: block;
                max-width: 48px;
            }
        }

        .stat-count {
            display: flex;
            justify-content: center;
            align-items: baseline;
            padding: 8px 0 0 0;

            span {
                display: block;
                font-weight: 700;
                font-size: 2rem;
                color: $dark-text;
            }

            small {
                font-size: 2rem;
                font-weight: 700;
                margin-left: 4px;
                color: $dark-text;
            }
        }

        p {
            color: $muted-grey;
            font-family: $font;
            font-weight: 500;
        }
    }
}
