/* ==========================================================================
Media Queries
========================================================================== */

/* ==========================================================================
Tablet Landscape
========================================================================== */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .navbar {
        padding: 0;
    }

    .partner-logos {
        img {
            height: 64px;
        }
    }
}

/* ==========================================================================
Tablet Portrait
========================================================================== */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

    .navbar {
        height: 72px;
        min-height: 72px;
        padding: 0;

        &.is-mobile {
            background: $sidebar;

            .navbar-brand {
                img {
                    &.light-logo {
                        display: block;
                    }

                    &.dark-logo {
                        display: none;
                    }
                }
            }
        }

        &:not(.is-scrolled) {
            .navbar-brand {
                .navbar-burger {
                    .menu-toggle i {
                        background: $light-text !important;
                    }
                }
            }
        }

        &.is-scrolled {
            .navbar-menu {
                &.is-active {
                    background: $white;
                }
            }
        }

        .navbar-brand {
            height: 72px;

            .navbar-burger {
                height: 72px;
                width: 72px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .navbar-menu {
            &.is-active {
                background: darken($sidebar, 6%);
                text-align: center;

                .button {
                    width: 100%;
                    max-width: 300px;
                }
            }
        }
    }

    .main-hero {
        min-height: 60vh !important;

        .hero-caption {
            display: flex;
        }
    }

    .side-feature {
        display: flex;

        .side-image {
            top: -18px;
            max-width: 410px;
        }
    }

    .section {
        &.section-2 {
            min-height: 60vh;
        }
    }

    .section-title {
        .shadow-title {
            font-size: 2.6rem;
        }
    }

    .stacked-features {
        padding-bottom: 80px;

        .stacked-feature {
            img {
                max-width: 450px !important;
                margin: 0 auto !important;
                display: block !important;
            }

            .column {
                &.is-5 {
                    max-width: 440px !important;
                    margin: 0 auto !important;
                }
            }
        }
    }

    .method-wrapper {
        img {
            max-width: 450px !important;
            margin: 0 auto !important;
            display: block !important;
        }
    }

    .side-title, .side-paragraph {
        text-align: center !important;
        max-width: 100%;
    }

    .form-wrapper {
        .column {
            &.is-4 {
                max-width: 450px !important;
                margin: 0 auto !important;
            }
        }

        .side-title {
            text-align: center !important;
            max-width: 100%;

            .title {
                font-size: 1.6rem;
            }
        }

        .contact-form {
            max-width: 560px;
            margin: 0 auto;
        }
    }

    .footer {
        .columns {
            display: flex;
            flex-wrap: wrap;

            .column {
                width: 50% !important;
                min-width: 50% !important;
                max-width: 50% !important;

                &:first-child, &:nth-child(2) {
                    margin-bottom: 40px;
                }
            }
        }
    }
}

/* ==========================================================================
Mobile Only
========================================================================== */

@media (max-width: 767px) {

    .navbar {
        height: 64px;
        min-height: 64px;
        padding: 0;

        &.is-mobile {
            background: $white;

            &:not(.is-scrolled) {
                .navbar-brand {
                    .navbar-burger {
                        .menu-toggle i {
                            background: $light-text;
                        }
                    }
                }
            }

            .navbar-burger {
                span {
                    color: $dark-text;
                }
            }

            .navbar-menu {
                .navbar-item {
                    color: $dark-text;

                    .navbar-button {
                        background: $primary;
                        border: 1.2px solid $primary;
                        box-shadow: $primary-box-shadow;

                        &:hover {
                            background: $primary;
                            color: $white;
                            border-color: $primary;
                            box-shadow: $primary-box-shadow;
                        }
                    }
                }
            }
        }

        &.is-scrolled {
            .navbar-menu {
                &.is-active {
                    background: $white;
                }
            }
        }

        .navbar-brand {
            height: 64px;

            img {
                + span {
                    display: none;
                }
            }

            .navbar-burger {
                height: 64px;
                width: 64px;
            }
        }

        .navbar-menu {
            &.is-active {
                background: $white;
                text-align: center;

                .button {
                    width: 100%;
                }
            }
        }
    }

    .side-feature {
        .side-image {
            top: -10px !important;
        }
    }

    .section-title {
        .shadow-title {
            font-size: 2.6rem;
        }
    }

    .benefits-wrap {
        margin-bottom: 0 !important;

        .inner-wrap {
            flex-direction: column;

            .benefit {
                width: 100%;
            }
        }
    }

    .side-title, .side-paragraph {
        text-align: center;
    }

    .partner-logos {
        flex-direction: column;
    }

    .carousel-wrapper {
        margin: 60px auto;

        .carousel {
            .carousel-item {
                padding: 26px;
                margin: 10px;
            }
        }
    }

    .slick-dots {
        bottom: -46px !important;
    }

    .cube {
        &.cube-1 {
            bottom: -25px;
            left: -13%;
        }

        &.cube-2 {
            top: 41px;
            right: 32%;
        }
    }

    .contact-form {
        padding: 30px;
    }

    .stat-boxes-wrapper {
        .stat-box {
            margin-bottom: 30px;
        }
    }

    .footer {
        .map {
            max-width: 310px;
        }

        .copyright {
            flex-direction: column;
        }
    }

    .is-centered-mobile {
        text-align: center !important;
    }
}
